body {
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(191, 191, 191);
}
p {
  font-size: 16px;
}
.card-bg {
  background-color: rgb(96, 162, 96);
  width: 150px;
  height: 180px;
  margin: 2px;
}
.poke-img {
  width: 150px;
  z-index: 5;
  position: relative;
  height: auto;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
}

.poke-name {
  position: relative;
  bottom: 18px;
  text-align: center;
  font-size: 18px;
}

.cardDiv {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0px;
}
.headerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;

}
.title {
  padding-left: 20px;
  display:flex;
  align-items: center;
}
.score {
  padding-right: 20px;
}
.gameOverCard {
  border: 3px rgb(219, 0, 0) solid
}
.card {
  border: 3px rgb(0, 0, 0) solid
}
.poke-captured-img {
  position:absolute;
}

.poke-captured-img img{
  width: 140px;
  opacity: 0.4;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  overflow:visible;
}

.cardColorDiv {
  width:150px;
  height:180px;
  position: absolute;

}
.colorDivider {
  display: flex;
  width:100%;
  height:100%;
}
.cardBackColorLeft {
  width: 50%;
  height: 100%;
}
.cardBackColorRight {
  width: 50%;
  height: 100%;
  left: 50%;
}
.bug {
  background-color: #94bc4a;
}
.dark {
  background-color: #736c75;
}
.fairy {
  background-color: #e397d1;
}
.electric {
  background-color: #e5c531;
}
.fire {
  background-color: #ea7a3c;
}
.ground {
  background-color: #cc9f4f;
}
.dragon {
  background-color: #6a7baf;
}
.water {
  background-color: #539ae2;
}
.fighting {
  background-color: #cb5f48;
}
.flying {
  background-color: #7da6de;

}
.ghost {
  background-color: #846ab6;

}
.grass {
  background-color: #71c558;

}
.ice {
  background-color: #70cbd4;
}
.normal {
  background-color: #aab09f;
}
.poison {
  background-color: #b468b7;
}
.psychic {
  background-color: #e5709b;
}
.rock {
  background-color: #b2a061;
}
.water {
  background-color: #539ae2;
}
.steel {
  background-color: #89a1b0;
}
.icon {
  width: 60px;
  margin-right: 15px;
}
.restart {
  width: 100px;
  height: 80px;
  font-size: 24px;
  border:2px black solid;
  background-color: white;
}